@{
	ViewBag.Title = "Admin Dashboard";
}
@{string[] weekList = {"4/30/2018","5/7/2018","5/14/2018","5/21/2018","5/28/2018","6/4/2018"};}
@{int weekIndex = weekList.Length - 2;}


<div class="container-fluid RectangleBlck">
    <div class="row-first">
        <div class="col-md-10"><h2>Attendance</h2></div>
        <div class="col-md-2"><a href="@Url.Action("CustomReport", "Admin" )"><button class="btn btn-border-w btn-round" type="button">Custom Report</button></a></div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-2 col-md-push-6"></div>
        <div class="col-md-2 col-md-push-6"><h4>Week of @weekList[weekIndex]</h4></div>
        <div class="col-md-1 col-md-push-6"><a href="@Url.Action("AdminDashboardp2", "Admin" )" class="btn btn-border-w btn-round" role="button">Prev</a></div>
        <div class="col-md-1 col-md-push-6"><a href="@Url.Action("AdminDashboard", "Admin" )" class="btn btn-border-w btn-round" role="button">Next</a></div>
    </div>
    <table cellspacing="50" style="width:100%;">
        <tr>
            <td style="width=20%"></td>
            <td style="width=80%">
                <div id="admin_wkHeaders">
                    <table cellspacing="50" style="width:100%;">
                        <tr>
                            <td class="admin_dayCell"><a href="@Url.Action("AdminDashboardm", "Admin" )" class="btn btn-border-w btn-round admin_dayBtn" role="button">Monday</a></td>
                            <td class="admin_dayCell"><button type="button" class="btn btn-border-w btn-round admin_dayBtn">Tuesday</button></td>
                            <td class="admin_dayCell"><a href="@Url.Action("AdminDashboardw", "Admin" )" class="btn btn-border-w btn-round admin_dayBtn" role="button">Wednesday</a></td>
                            <td class="admin_dayCell"><button type="button" class="btn btn-border-w btn-round admin_dayBtn">Thursday</button></td>
                            <td class="admin_dayCell"><button type="button" class="btn btn-border-w btn-round admin_dayBtn">Friday</button></td>
                            <td class="admin_trendCell"><div><h5>On Track</h5></div></td>
                            <td class="admin_trendCell"><div><h5>Well Being</h5></div></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:20%;">
                <table cellspacing="50" style="width:100%;">
                    <tr><td height="20" style="margin:5px; padding: 5px;"><button type="button" class="btn btn-border-w btn-round admin_studentBtn">Seth Berry</button></td></tr>
                    <tr><td height="20" style="margin:5px; padding: 5px;"><button type="button" class="btn btn-border-w btn-round admin_studentBtn">Bianca Blanco</button></td></tr>
                    <tr><td height="20" style="margin:5px; padding: 5px;"><button type="button" class="btn btn-border-w btn-round admin_studentBtn">Mina Chen</button></td></tr>
                    <tr><td height="20" style="margin:5px; padding: 5px;"><button type="button" class="btn btn-border-w btn-round admin_studentBtn">Alvin Hopkins</button></td></tr>
                    <tr><td height="20" style="margin:5px; padding: 5px;"><button type="button" class="btn btn-border-w btn-round admin_studentBtn">Gabriel Klein</button></td></tr>
                    <tr><td height="20" style="margin:5px; padding: 5px;"><a href="@Url.Action("StudentReport", "Profile" )" class="btn btn-border-w btn-round admin_studentBtn" role="button">Tamara Kochubey</a></td></tr>
                    <tr><td height="20" style="margin:5px; padding: 5px;"><button type="button" class="btn btn-border-w btn-round admin_studentBtn">Verna Potter</button></td></tr>
                    <tr><td height="20" style="margin:5px; padding: 5px;"><button type="button" class="btn btn-border-w btn-round admin_studentBtn">Harry Reid</button></td></tr>
                    <tr><td height="20" style="margin:5px; padding: 5px;"><button type="button" class="btn btn-border-w btn-round admin_studentBtn">Nancy Thomas</button></td></tr>
                </table>
            </td>

            <td style="width:80%;">
                <div id="admin_wkLog">
                    <table cellspacing="50" style="width:100%;">
                        <tr style="width:100%; height:42px;">
                            <td class="admin_dayCell">
                                <!--S1 Mon-->
                                <button class="admin_atndbtn" id="admin_atndbtnS1" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S1 Tues-->
                                <button class="admin_atndbtn" id="admin_atndbtnS1" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S1 Wed-->
                                <button class="admin_atndbtn" id="admin_atndbtnS1" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S1 Thur-->
                                <button class="admin_atndbtn" id="admin_atndbtnS1" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S1 Fri-->
                                <button class="admin_atndbtn" id="admin_atndbtnS1" style="width:130px;"></button>
                            <td class="admin_trendCell"><div class="admin_gdGoal">&#10004;</div></td>
                            <td class="admin_trendCell"><div class="admin_gdGoal"><strong>&#8657;</strong></div></td>
                        </tr>
                        <tr style="width:100%; height:42px;">
                            <td class="admin_dayCell">
                                <button class="admin_atndbtn" id="admin_atndbtnBlk" style="width:65px;"></button>
                                <button class="admin_atndbtn" id="admin_atndbtnS2" style="width:65px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <button class="admin_atndbtn" id="admin_atndbtnS2" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <button class="admin_atndbtn" id="admin_atndbtnBlk" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <button class="admin_atndbtn" id="admin_atndbtnS2" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <button class="admin_atndbtn" id="admin_atndbtnS2" style="width:130px;"></button>
                            </td>
                            <td class="admin_trendCell"><div class="admin_bdGoal">&#10008;</div></td>
                            <td class="admin_trendCell"><div class="admin_bdGoal"><strong>&#8659;</strong></div></td>
                        </tr>
                        <tr style="width:100%; height:42px;">
                            <td class="admin_dayCell">
                                <!--S3 Mon-->

                            </td>
                            <td class="admin_dayCell">
                                <!--S3 Tues-->
                                <button class="admin_atndbtn" id="admin_atndbtnS3" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S3 Wed-->
                                <button class="admin_atndbtn" id="admin_atndbtnS3" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S3 Thur-->

                            </td>
                            <td class="admin_dayCell">
                                <!--S3 Fri-->

                            <td class="admin_trendCell"><div class="admin_bdGoal">&#10008;</div></td>
                            <td class="admin_trendCell"><div><strong>&#8660;</strong></div></td>
                        </tr>
                        <tr style="width:100%; height:42px;">
                            <td class="admin_dayCell">
                                <!--S4 Mon-->
                                <button class="admin_atndbtn" id="admin_atndbtnBlk" style="width:65px;"></button>
                                <button class="admin_atndbtn" id="admin_atndbtnS4" style="width:65px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S4 Tues-->
                                <button class="admin_atndbtn" id="admin_atndbtnBlk" style="width:65px;"></button>
                                <button class="admin_atndbtn" id="admin_atndbtnS4" style="width:65px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S4 Wed-->
                                <button class="admin_atndbtn" id="admin_atndbtnS4" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S4 Thur-->
                                <button class="admin_atndbtn" id="admin_atndbtnS4" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S4 Fri-->
                                <button class="admin_atndbtn" id="admin_atndbtnS4" style="width:130px;"></button>
                            </td>
                            <td class="admin_trendCell"><div class="admin_gdGoal">&#10004;</div></td>
                            <td class="admin_trendCell"><div class="admin_gdGoal"><strong>&#8657;</strong></div></td>
                        </tr>
                        <tr style="width:100%; height:42px;">
                            <td class="admin_dayCell">
                                <!--S5 Mon-->
                                <button class="admin_atndbtn" id="admin_atndbtnS5" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S5 Tues-->
                                <button class="admin_atndbtn" id="admin_atndbtnS5" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S5 Wed-->
                                <button class="admin_atndbtn" id="admin_atndbtnS5" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S5 Thur-->
                                <button class="admin_atndbtn" id="admin_atndbtnS5" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S5 Fri-->
                                <button class="admin_atndbtn" id="admin_atndbtnS5" style="width:130px;"></button>
                            <td class="admin_trendCell"><div class="admin_gdGoal">&#10004;</div></td>
                            <td class="admin_trendCell"><div class="admin_gdGoal"><strong>&#8657;</strong></div></td>
                        </tr>
                        <tr style="width:100%; height:42px;">
                            <td class="admin_dayCell">
                                <!--S6 Mon-->
                                <button class="admin_atndbtn" id="admin_atndbtnS6" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S6 Tues-->
                                <button class="admin_atndbtn" id="admin_atndbtnS6" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S6 Wed-->
                                <button class="admin_atndbtn" id="admin_atndbtnS6" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S6 Thur-->

                            </td>
                            <td class="admin_dayCell">
                                <!--S6 Fri-->
                                <button class="admin_atndbtn" id="admin_atndbtnS6" style="width:130px;"></button>
                            <td class="admin_trendCell"><div class="admin_gdGoal">&#10004;</div></td>
                            <td class="admin_trendCell"><div class="admin_bdGoal"><strong>&#8659;</strong></div></td>
                        </tr>
                        <tr style="width:100%; height:42px;">
                            <td class="admin_dayCell">
                                <!--S7 Mon-->
                                <button class="admin_atndbtn" id="admin_atndbtnBlk" style="width:65px;"></button>
                                <a href="@Url.Action("StudentChangeLog", "Admin" )" class="admin_atndbtn" id="admin_atndbtnS7" style="width:65px;" role="button"></a>
                            </td>
                            <td class="admin_dayCell">
                                <!--S7 Tues-->

                            </td>
                            <td class="admin_dayCell">
                                <!--S7 Wed-->
                                <button class="admin_atndbtn" id="admin_atndbtnS7" style="width:65px;"></button>
                                <button class="admin_atndbtn" id="admin_atndbtnBlk" style="width:65px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S7 Thur-->
                                <button class="admin_atndbtn" id="admin_atndbtnS7" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S7 Fri-->

                            <td class="admin_trendCell"><div class="admin_bdGoal">&#10008;</div></td>
                            <td class="admin_trendCell"><div class="admin_gdGoal"><strong>&#8657;</strong></div></td>
                        </tr>
                        <tr style="width:100%; height:42px;">
                            <td class="admin_dayCell">
                                <!--S8 Mon-->
                                <button class="admin_atndbtn" id="admin_atndbtnBlk" style="width:65px;"></button>
                                <button class="admin_atndbtn" id="admin_atndbtnS8" style="width:65px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S8 Tues-->
                                <button class="admin_atndbtn" id="admin_atndbtnS8" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S8 Wed-->
                                <button class="admin_atndbtn" id="admin_atndbtnS8" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S8 Thur-->
                                <button class="admin_atndbtn" id="admin_atndbtnS8" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S8 Fri-->
                                <button class="admin_atndbtn" id="admin_atndbtnS8" style="width:130px;"></button>
                            </td>
                            <td class="admin_trendCell"><div class="admin_gdGoal">&#10004;</div></td>
                            <td class="admin_trendCell"><div><strong>&#8660;</strong></div></td>
                        </tr>
                        <tr style="width:100%; height:42px;">
                            <td class="admin_dayCell">
                                <!--S9 Mon-->
                                <button class="admin_atndbtn" id="admin_atndbtnS9" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S9 Tues-->

                            </td>
                            <td class="admin_dayCell">
                                <!--S3 Wed-->
                                <button class="admin_atndbtn" id="admin_atndbtnS9" style="width:130px;"></button>
                            </td>
                            <td class="admin_dayCell">
                                <!--S9 Thur-->

                            </td>
                            <td class="admin_dayCell">
                                <!--S9 Fri-->

                            <td class="admin_trendCell"><div class="admin_bdGoal">&#10008;</div></td>
                            <td class="admin_trendCell"><div class="admin_bdGoal"><strong>&#8659;</strong></div></td>
                        </tr>
                    </table>
                </div>

            </td>
        </tr>
    </table>
</div>


