
@{
	ViewBag.Title = "Admin Dashboard";
}
@{string[] weekList = {"4/30/2018","5/7/2018","5/14/2018","5/21/2018","5/28/2018","6/4/2018"};}
@{int weekIndex = weekList.Length - 1;}
@{string dayOfWeek = "Monday";}

<link href="~/Content/harvey.min.css" rel="stylesheet" type="text/css" />


</style><script>
	function weekView() {
		document.getElementById("admin_wkLog").style.display = "block";
		document.getElementById("admin_dyLog").style.display = "none";
		/*document.getElementById("#admin_logDisplayName").innerHTML = "Week of 6/4/2018";    TODO MAKE THIS WORK*/
	}
	function dayView(dayName) {
		document.getElementById("admin_wkLog").style.display = "none";
		document.getElementById("admin_dyLog").style.display = "block";
		/*document.getElementById("#admin_logDisplayName").innerHTML = dayName;  TODO MAKE THIS WORK*/
	}
</script>

<section class="bg-dark-30 showcase-page-header module parallax-bg" data-background="../../Content/Landing/mountainBG.jpg">
	<div class="titan-caption">
        <div class="caption-content">
            <div class"row" style="width:100%;">
                <table style="width:100%;">
                    <tr style="width:100%;">
                        <td style="width:20%;"><h1>Attendance</h1></td>
                        <td style="width:40%;"></td>
                        <td style="width:20%;"><div id="admin_logDisplayName"><h5>Week of @weekList[weekIndex]</h5></div></td>
                        <td style="width:20%;">
                            Previous<button class="btn btn-border-w btn-round" style="margin-left:15px; width:8px">&#8678;</button><span style="font:grey;"></span>
                            <button class="btn btn-border-w btn-round" style="margin-right:15px; width:8px">&#8680;</button>Next
                        </td>
                    </tr>
                </table>
            </div>
            <div class="admin_container">
                <table cellspacing="50">
                    <tr>
                        <th>
                        
                            <th><button class="btn btn-border-w btn-round" onclick="dayView(Monday)" name="Monday" value="Monday">Monday</button></th></td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <th><button class="btn btn-border-w btn-round" onclick="dayView(Tuesday)" name="Tuesday" value="Tuesday">Tuesday</button></th></td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <th><button class="btn btn-border-w btn-round" onclick="dayView(Wednesday)" name="Wednesday" value="Wednesday">Wednesday</button></th></td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <th><button class="btn btn-border-w btn-round" onclick="dayView(Thursday)" name="Thursday" value="Thursday">Thursday</button></th></td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <th><button class="btn btn-border-w btn-round" onclick="dayView(Friday)" name="Friday" value="Friday">Friday</button></th></td>
                       
                    </tr></th>
                    <tr>
                        
                        <td>@Html.ActionLink("Student 1", "StudentReport", "Student", null, new { @class = "btn btn-border-w btn-round" })</>                        
                        <td><div class="harvey"></td></div>
                        <td>&nbsp;</td>          
                        <td><div class="harvey"><div class="upper-right"></div></div></td>                        
                        <td>&nbsp;</td>                    
                        <td><div class="harvey half-right"></div></td>
                        <td>&nbsp;</td>  
                        <td><div class="harvey"></td></div>
                        <td>&nbsp;</td>  
                        <td><div class="harvey"><div class="upper-right"></div></div></td>

                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Student 2", "StudentReport", "Student", null, new { @class = "btn btn-border-w btn-round" })</>
                        <td><div class="harvey"></td></div>
                        <td>&nbsp;</td>          
                        <td><div class="harvey"><div class="upper-right"></div></div></td>                        
                        <td>&nbsp;</td>                    
                        <td><div class="harvey half-right"></div></td>
                        <td>&nbsp;</td>  
                        <td><div class="harvey"></td></div>
                        <td>&nbsp;</td>  
                        <td><div class="harvey"><div class="upper-right"></div></div></td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Student 3", "StudentReport", "Student", null, new { @class = "btn btn-border-w btn-round" })</>
                        <td><div class="harvey"></td></div>
                        <td>&nbsp;</td>
                        <td><div class="harvey"><div class="upper-right"></div></div></td>
                        <td>&nbsp;</td>
                        <td><div class="harvey half-right"></div></td>
                        <td>&nbsp;</td>
                        <td><div class="harvey"></td></div>
                        <td>&nbsp;</td>
                        <td><div class="harvey"><div class="upper-right"></div></div></td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Student 4", "StudentReport", "Student", null, new { @class = "btn btn-border-w btn-round" })</td>
                        <td><div class="harvey"></td></div>
                        <td>&nbsp;</td>
                        <td><div class="harvey"><div class="upper-right"></div></div></td>
                        <td>&nbsp;</td>
                        <td><div class="harvey half-right"></div></td>
                        <td>&nbsp;</td>
                        <td><div class="harvey"></td></div>
                        <td>&nbsp;</td>
                        <td><div class="harvey"><div class="upper-right"></div></div></td>
                    </tr>
                     <tr>
                         <td>@Html.ActionLink("Student 5", "StudentReport", "Student", null, new { @class = "btn btn-border-w btn-round" })</>
                         <td><div class="harvey"></td></div>
                         <td>&nbsp;</td>
                         <td><div class="harvey"><div class="upper-right"></div></div></td>
                         <td>&nbsp;</td>
                         <td><div class="harvey half-right"></div></td>
                         <td>&nbsp;</td>
                         <td><div class="harvey"></td></div>
                         <td>&nbsp;</td>
                         <td><div class="harvey"><div class="upper-right"></div></div></td>
                    </tr>     

                </table>

                
                       
						<td style="width:85%;">
							<div id="admin_wkLog">Put an image of the week report here.</div>
							<div id="admin_dyLog">Put an image of the day report here.</div>
							<button onclick="weekView()" name="Week" value="Week" class="btn btn-primary" style="margin-bottom: 50px;">Back to week view</button>
			</div>
			</td>
			</tr>
			</table>
		</div>
		<div class="admin_container" style="margin-top:20px">
			@Html.ActionLink("Custom Report", "CustomReport", "Admin", null, new { @class = "btn btn-primary" })
		</div>
	</div>
</section>



      





<!-- Footer bar-->
<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-8 col-lg-12">
				<div class="callout-text font-alt">
					<p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
					<p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
				</div>
			</div>
		</div>
	</div>
</section>



