<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--
	Document Title
	=============================================
	-->
	<title>Wayfinder | @ViewBag.Title</title>

	<!--
	Stylesheets
	=============================================
	-->
	<link href="~/Content/Landing/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/dropbtn.css" rel="stylesheet">
	<link href="@Url.Content("~/Content/StudentDashBoard.css")" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            var dateFormat = "mm/dd/yy",
                from = $("#from")
                    .datepicker({
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 3
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#to").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 3
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });
    </script>

	<!-- navbar links-->
	<div class="container-fluid shared-head">
		<div class="row">
			<div class="col-md-6">
				<img src="~/Content/Landing/logo.png">
			</div>
			<div class="col-md-6 menu">
				<div class="col-md-3"><a class="btn btn-link head-btn" href="@Url.Action("Home", "Landing")">Home</a></div>
				<div class="col-md-3"><a class="btn btn-link head-btn" href="@Url.Action("Home", "Landing")#kiosk">Kiosk</a></div>
				<div class="col-md-3"><a class="btn btn-link head-btn" href="@Url.Action("AdminDashboard", "Admin")">Admin</a></div>
				<div class="col-md-3"><a class="btn btn-link head-btn" href="@Url.Action("ClassSettings", "Admin")">Settings</a></div>
			</div>
		</div>
	</div>
</head>

<body>
	<!-- Don't delete this or else MVC gets very angry-->
	<div class="container">
		@RenderBody()
	</div>

	<!-- JQuery and JavaScript-->
	<script type="text/javascript" src="~/Scripts/tableContent.js"></script>

	<script type="text/javascript" src="~/Scripts/bootstrap-clockpicker.js"></script>
	<script type="text/javascript" src="~/Scripts/clockpicker.js"></script>
	<script type="text/javascript" src="~/Scripts/highlight.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery-clockpicker.js"></script>
	<script src="~/Scripts/time.js"></script>
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/studentDashboard")
</body>
</html>