@model _5051.Models.UsernameModels
@{
	ViewBag.Title = "Student Edit Profile";
}

	<section class="bg-dark-30 showcase-page-header module parallax-bg">
		<div class="titan-caption">
			<div class="caption-content">
				<div class="font-alt mb-30 titan-title-size-1">Hello, @Html.DisplayNameFor(m => m.Username)</div>
				<div class="font-alt mb-40 titan-title-size-2">Let's edit your profile...</div>
			</div>
		</div>
	</section>

	<section class="module">
		<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h4 class="font-alt mb-0">Your Profile</h4>
						<hr class="divider-w mt-10 mb-20">
						@using (Html.BeginForm())
						{
							@Html.AntiForgeryToken()
							@Html.HiddenFor(m => m.Id)

							<div class="row">
								<div class="col-sm-3 text-right">
									@Html.DisplayNameFor(m => m.Username)
								</div>
								<div class="col-sm-4">
									<style>
										#comment-input {
											font-family: "Roboto Condensed", sans-serif;
											text-transform: uppercase;
											letter-spacing: 2px;
											font-size: 11px;
											height: 33px;
											border: 1px solid #EAEAEA;
											border-radius: 2px;
											transition: all 0.4s ease-in-out 0s;
										}
									</style>
									@Html.EditorFor(m => m.Username, null, "comment-input", null)
									@Html.ValidationMessageFor(m => m.Username)
									<input type="submit" value="Submit" />
								</div>
							</div>
						}
					</div>
				</div>
			</div>
	</section>
}

	<!-- Footer bar-->
	<section class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-8 col-lg-12">
					<div class="callout-text font-alt">
						<p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
						<p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
					</div>
				</div>
			</div>
		</div>
	</section>
